<div class="container">
  <div class="row flex-column align-items-center no-gutters">
    <form class="col-6" action="/records/{{expense._id}}?_method=PUT" method="POST">
      <!-- 標題 -->
      <div class="row no-gutters align-items-center">
        <h6 class="col-3 text-danger mb-5 ">* 必填欄位</h6>
        <h4 class="col-9 text-center mb-5 p-3 font-weight-bold bg-light">請輸入你的支出</h4>
      </div>
      <!-- 項目名稱 -->
      <div class="form-group row no-gutters align-items-center">
        <label for="name" class="col-3 col-form-label ">名稱 <span class="text-danger font-weight-bold">*</span>：</label>
        <div class="col-9">
          <input type="text" class="form-control" id="name" name="name" value="{{expense.name}}">
        </div>
      </div>
      <!-- 日期 -->
      <div class="form-group row no-gutters align-items-center">
        <label for="date" class="col-3 col-form-label ">日期 <span class="text-danger font-weight-bold">*</span>：</label>
        <div class="col-9">
          <input type="date" class="form-control" id="date" name="date" value="{{expense.date}}" required>
        </div>
      </div>

      <!-- 類別 -->
      <div class="form-group row no-gutters align-items-center">
        <label class="col-3" for="category">類別 <span class="text-danger font-weight-bold">*</span>：</label>
        <select name="category" id="category" class="col-9 form-control" required>
          <option selected disabled>請選擇</option>
          <option value="home" {{#if isHome}} selected {{/if}}>家居物業</option>
          <option value="traffic" {{#if isTraffic}} selected {{/if}}>交通出行</option>
          <option value="entertainment" {{#if isEntertainment}} selected {{/if}}>休閒娛樂</option>
          <option value="food" {{#if isFood}} selected {{/if}}>餐飲食品</option>
          <option value="other" {{#if isOther}} selected {{/if}}>其他</option>
        </select>
      </div>
      <!-- 金額 -->
      <div class="form-group row no-gutters align-items-center">
        <label for="amount" class="col-3 col-form-label ">金額 <span
            class="text-danger font-weight-bold">*</span>：</label>
        <div class="col-9">
          <input type="number" class="form-control" id="amount" name="amount" min="0.0" value="{{expense.amount}}"
            required>
        </div>
      </div>
      {{!-- 商家 --}}
      <div class="form-group row no-gutters align-items-center">
        <label for="merchant" class="col-3 col-form-label ">商家 ：</label>
        <div class="col-9">
          <input type="text" class="form-control" id="merchant" name="merchant" value="{{expense.merchant}}">
        </div>
      </div>

      {{#if wrongMsg}}
      <div class="row no-gutters align-items-center justify-content-end">
        <p class="col-9 text-danger">{{wrongMsg}}</p>
      </div>
      {{/if}}
      <!-- 送出 -->
      <div class="row no-gutters justify-content-center">
        <button type="submit" class="col-6 btn btn-dark mt-3 p-3">修改</button>
      </div>

    </form>

  </div>
</div>